* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.border {
  border: 2px solid white;
  padding: 10px;
  border-radius: 5px;
 margin-left: 20%;
 
}
a {
  text-decoration: none;
}
.user-box {
 
  border-radius: 5px;
  padding: 20px;
  height: 100vh;
}
.btn {
  border: none;
  border-radius: 5px;
  padding: 8px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}



.bg-green {
  background-color: #008080;
  border: 2px solid white;
  margin-top: 20%;
}
p{
  text-align: justify;
  margin-left: 20%;
  margin-top: 2%;
  font-size: 1.1rem;
}
/*phones*/
@media (min-width: 0) and (max-width: 767px) {
  p{
    text-align: justify;
    margin-left: 6%;
    margin-top: 2%;
    font-size: 1rem;
  }
  .border {
    border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
    margin-left: 2%;
    margin-bottom: 9%;
  }
  .img-responsive{
   width: 80%;
   height: 50vh;
   align-items: center;
  }
}