*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family:Raleway,sans-serif;
  
}
header{
  background-color: rgb(137, 228, 231);
}

/*phones*/
@media (min-width: 0) and (max-width: 767px) {

}
